  
html, body{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.root-container{
    width: 60%;
    /* height: 90%; */
    border-radius: 15px;
    display: flex;
    flex-direction: row-reverse;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    background-color: #FAF7F0;
}
.content{
    width: 60%;
    background-color: #FAF7F0;
    padding: 10px;
    border-radius: 0 15px 15px 0;
}
.avatar{
    width: 40%;
    /* height: 100%; */
    background-color: #1E2A5E;
    border-radius: 10px;
}
img{
    height: 50%;
    width: 100%;
    border-radius: 50%;
    border: 5px solid white;
}
p[data-testid="test-user-bio"]{
    color: #374151;
}
ul[data-testid="test-user-social-links"]{
    display: flex;
    list-style: none;
    gap: 50px;
}
.fa-brands{
    color: #2d2727;
}
.fa-brands:hover{
    color: #756969;
}
.fa-solid{
    color: #2d2727;
}
.fa-solid:hover{
    color: #756969;
}
a:focus{
    outline: #4B5563;
}
.list{
    font-style: italic;
    font-size: 14px;
    color: #374151;
}
.role{
    font-size: 10px;
    font-style: italic;
    font-weight: 100;
    color: #4B5563;
}
h2[data-testid="test-user-name"]{
    color: #111827;
}
.nav{
    display: flex;
    justify-self: center;
    gap: 50px;
}
.cardBtn{
    background-color:  #1E2A5E;
    border: 2px solid  #FAF7F0;
    color:  #FAF7F0;
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}


/*about styling*/

.aboutAvatar{
    width: 30%;
}
.aboutContent{
    width: 70%;
}
.aboutContainer{
    display: flex;
    background-color: #FAF7F0;
    height: 100%;
    padding: 20px;
}
.aboutBtn{
    background-color:  #FAF7F0;
    border: 2px solid #1E3A8A;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

/* styling for contact page */

.contactForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contactMain{
    background-color: #FAF7F0;
    /* height: 80%;git  */
    width: 40%;
    padding: 0 20px 0 20px;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}
.contactHeading{
    justify-content: center;
    display: flex;
}
input::placeholder {
    font-style: italic;
  }
input{
    outline: none;
    height: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;   
}  
.formSubmitButton{
    height: 40px;
    background-color: #1E2A5E;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.formSubmitButton:hover{
    background-color: #3c4778;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
textarea{
    height: 100px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input:focus, textarea:focus {
    outline: none;
    border: 1.5px solid #162a5d;
    box-shadow: 0 0 5px rgba(22, 42, 93, 0.2);
}
.contactnav{
    display: flex;
    margin-top: 10px;
    gap: 50px;
}

        /* RESPONSIVENESS */

@media (max-width: 600px) {
    .root-container{
        flex-direction: column-reverse;
    }
    .content{
        height: 70%;
        width: 100%;
        border-radius: 0 0 15px 15px;
    }
    .avatar{
        height: 30%;
        width: 100%;
        padding: 10px;
        border-radius: 15px 15px 0 0;
    }
    h2[data-testid="test-user-name"]{
        font-size: 15px;
    }
    p{
        font-size: 10px;
    }
    .list{
        font-size: 10px;
    }
    .role{
        font-size: 7px;
    }
    h3{
        font-size: 13px;
    }
    ul[data-testid="test-user-social-links"]{
        padding: 0;
        justify-self: center;
    }

    /* about responsive styling */
    .aboutContainer{
        flex-direction: column;
    } 
    .aboutAvatar{
        height: 30%;
        width: 100%;
    }
    .aboutContent{
        height: 70%;
        width: 100%;
    }
    .list{
        font-size: 10px;
    }
  
  
    /* contact responsive styling */
    .contactMain{
        width: 80%;
    }

}


@media (min-width: 600px) and (max-width: 950px) {
    .nav{
        flex-direction: column;
        gap: 20px;
    }
  }